@font-face {
    font-family: 'zorqueregular';
    src: url('../fonts/zorque-webfont.woff2') format('woff2'),
         url('../fonts/zorque-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'zorqueregular';
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #151515;
    background-image: url(../img/background.png);
}

.wrapper {
    width: 512px;
    margin: 0 auto;
    margin-top: 2em;
}

#instructions {
    float: left;
    font-family: sans-serif;
    color: #757575;
}

#score {
    float: right;
    color: white;
    font-size: 2em;
}

.key {
    color: #aaffdd;
}

#game-over, #game-over-overlay {
    margin: auto;
    width: 512px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
}

#game-over h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#game-over button {
    font-size: 1.5em;
}

#game-field {
    display: block;
    margin: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 600px;
    width: 650px;
    /*border: 1px solid #000000;*/
}

#time-block {
    position: relative;
    width: 100%;
}

#army-wrap {
    height: 280px;
    position: absolute;
    bottom: 40px;
    display: inline-block;
    align-items: center;
}

#army-wrap div {
    box-sizing: border-box;
    height: 70px;
    width: 70px;
    position: relative;
    display: flex;
    background-color: #0f0f0f;
    opacity: 0.3;
}

.wrap {
    display: inline-block;
}

#canvas {
    display: block;
    position: relative;
    border: 2px solid #0f0f0f; 
}
#hp {
    display: block;
    opacity: 0.4;
}

.hotkey {
    position: relative;
    left: 3px;
    color: white;
    font-size: 14px;
}

.cost{
    text-align: right;
    position: absolute;
    bottom: 3px;
    right: 3px;
    color: white;
    font-size: 14px;
}

#unit1 {
    background-image: url(../img/8B.png);
    background-size: 40px 34px;
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

#unit2 {
    background-image: url(../img/13.png);
    background-size: 50px 28px;
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

#unit3 {
    background-image: url(../img/12B.png);
    background-size: 64px 30px;
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

#unit4 {
    background-image: url(../img/3.png);
    background-size: 44px 48px;
    background-position: 50% 25%;
    background-repeat: no-repeat;
}

#time-block {
    position: relative;
    opacity: 0.8;
}

#time-block div {
    position: absolute;
    color: white;
    font-size: 20px; 
    display: inline-block;  
}

#time-block span {
    color: white;
    font-size: 20px; 
}

.gold {
    left: 435px;
}

.upgrade {
    left: 250px;
}