@font-face {
    font-family: 'Zombnze';
    src: url('../fonts/zombnze/zombnze.woff2') format('woff2'),
         url('../fonts/zombnze/zombnze.woff') format('woff'),
         url('../fonts/zombnze/zombnze.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
    user-select: none;
}

a {
    color: #ddd; 
}

ul, 
ol {
    list-style-type: none;
}

body {
    font-family: 'Calibri', sans-serif;
    color: #ddd;
	width: 100%;
	height: 100%;
    overflow-x: hidden;
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
	/*background: #000;*/
}

.main__name {
    font-family: 'Zombnze', sans-serif;
    font-size: 100px;
    line-height: 200px;
    color: #eee;
}

.main__info {
    padding: 0 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main__start {
    font-family: 'Zombnze', sans-serif;
    color: #ddd;
    height:150px;
    width: 300px;
    font-size: 60px;
    background-color: #222;
    border: none;
    outline:none;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #000;
    color: #bbb;
}

button:active {
    background-color: #ccc;
    color: #333;
}

.main__discription {
    font-size: 18px;
    max-width: 800px;
    text-align: center;
}

.main__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__controls .wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 200px;   
}

.controls__unit {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

.controls__unit:nth-of-type(1) {
    min-width: 600px;
    background-image: url('../img/controls/keyboard.png');
}

.controls__unit:nth-of-type(2) {
    width: 180px;
    background-image: url('../img/controls/mouse.png');
}

/*.controls__unit:nth-of-type(3) {
    background-image: url('../img/controls/mouse-click.png');
}

.controls__unit:nth-of-type(4) {
    background-image: url('../img/controls/f9.png');
}*/

h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
}

.controls__image {
    width: 170px;
    height: 170px;
    /*background-color: #ddd;*/
}

.main__screenshots .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.main__screenshot {
    width: 400px;
    height: 250px;
    opacity: 0.95;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__screenshot:nth-of-type(1) {
    background-image: url('../img/screenshots/screenshot_1.jpg');
}

.main__screenshot:nth-of-type(2) {
    background-image: url('../img/screenshots/screenshot_2.jpg');
}

.main__screenshot:nth-of-type(3) {
    background-image: url('../img/screenshots/screenshot_3.jpg');
}

.main__screenshot:nth-of-type(4) {
    background-image: url('../img/screenshots/screenshot_4.jpg');
}

.game__display {
    display: none;
	width: 100%;
	height: 100%;
}

.game__pause,
.game__win,
.game__die,
.game__settings {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    width: 400px;
    margin: 0 auto;
    background-color: rgba(20,20,20,0.6);
    border-radius: 5px;
    color: #ddd;
    font-size: 30px;
}

.main__game .wrapper {
    width: 100%;
    height: 100%;
    padding: 30px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    
}

.game__settings_list li {
    text-align: center;
    width: 200px;
}

.game__settings_list li:hover,
.selected-item {
    box-shadow: 0 0 4px 4px #ddd;
    border-radius: 3px;
    cursor: pointer;
}

.game__button_menu,
.game__button_restart,
.game__button_next,
.game__button_close {
    margin: 0 5px;
    margin-top: 20px;
    color: #ddd;
    height:50px;
    width: 100px;
    font-size: 20px;
    background-color: #222;
    border: none;
    outline:none;
    cursor: pointer;
    border-radius: 3px;
}

.show {
    display: block;
}

.hide {
    display: none;
}